@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700');

body {
  FONT-VARIANT: JIS90;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #333;
  margin: 0 auto;
  padding: 24px;
  font-size: 16px;
  max-width: 600px;
  background: GhostWhite;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: darkgoldenrod 
}

ul {
  padding: 5px;
  background-color: darkgoldenrod;
  color: black;

}


input {
  all: unset;
  width: 128px;
  padding: 0 8px;
  border-radius: 8px;
  border: 2px solid Lavender;
  color: DeepPink;
  -webkit-text-fill-color: DeepPink;
  background: White;
}